.space {
  margin-top: 10px;
}

#dangtin {
  font-weight: 600;
}

p.basic-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #0db9f0;
  color: white;
  padding: 10px 10px;
  margin-bottom: 0px;
}

.thongtincoban {
  border: 1px solid #cccccc;
  padding: 15px;
  margin-bottom: 20px;
}

p.tieude {
  font-weight: 500;
  margin-bottom: 5px;
}

p.sdt, p.loaiphong, p.giadien {
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

p.huongdan {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  background: #0DB9F0;
  color: white;
  padding: 10px 10px;
  margin-bottom: 0px;
}

.huongdandangtin {
  border: 1px solid #cccccc;
}

ul {
  padding-left: 30px;
  padding-right: 20px;
}

ul li {
  font-weight: 400;
}

strong {
  font-weight: 500;
}

p.diachi {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 20px;
}

.thongtinbosung {
  border: 1px solid #cccccc;
  padding: 15px;
  margin-bottom: 20px;
}

.custom-checkbox {
  padding-bottom: 10px;
}

.custom-control-label {
  font-weight: 400;
}

p.hinhanh {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 5px;
}

img {
  width: 100%;
}

agm-map {
  height: 300px;
}

.map {
  margin-top: 20px;
}

.btnPost {
  background: #0db9f0;
  font-size: 15px;
  font-weight: 500;
}
