<app-nav-bar></app-nav-bar>
<div class="space"></div>
<div class="container">
  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text"><a routerLink="/trang-chu">Trang chủ</a></mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Đăng tin</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12">
      <h2 id="dangtin">Đăng tin</h2>
    </div>
  </div>
  <div class="row">
    <div *ngIf="innerWidth<768" class="col-lg-8 col-md-8 col-sm-12 col-12">
      <p class="huongdan">HƯỚNG DẪN</p>
      <div class="huongdandangtin">
        <ul>
          <li><strong>Nội dung phải viết bằng tiếng Việt có dấu</strong></li>
          <li><strong>Tiêu đề tin không dài quá 100 kí tự</strong></li>
          <li>Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
          <li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ
            bằng cách kéo icon tới đúng vị trí của tin rao.
          </li>
          <li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để
            được giao dịch nhanh chóng!
          </li>
        </ul>
      </div>
    </div>
    <!--NgForm-->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
      <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <p class="basic-text">THÔNG TIN CƠ BẢN</p>
        <div class="thongtincoban">
          <p class="tieude">Tiêu đề</p>
          <input type="text" class="form-control" id="title" required
                 [(ngModel)]="postDTO.title" name="title" #title="ngModel"
                 placeholder="Hãy đặt tiêu đề đầy đủ nghĩa, khách sẽ quan tâm hơn">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
            <p>Vui lòng nhập tiêu đề.</p>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <!--[ngStyle]="{'margin-top': (price.invalid)?'10px':'0px'}"-->
              <p class="sdt">Giá cho thuê</p>
              <input appNumberOnly class="form-control" id="price" required
                     [(ngModel)]="postDTO.accomodationDTO.price" name="price" #price="ngModel"
                     placeholder="Giá cho thuê (VNĐ)">
              <div *ngIf="price.invalid && (price.dirty || price.touched)" class="error">
                <p>Vui lòng nhập giá thuê.</p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <p class="dientich">Diện tích</p>
              <input appNumberOnly class="form-control" id="acreage" required
                     [(ngModel)]="postDTO.accomodationDTO.acreage" name="acreage" #acreage="ngModel"
                     placeholder="Diện tích (m²)">
              <div *ngIf="acreage.invalid && (acreage.dirty || acreage.touched)" class="error">
                <p>Vui lòng nhập diện tích.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <p class="sdt">Quận</p>
              <select class="browser-default custom-select" id="district" required
                      [(ngModel)]="postDTO.accomodationDTO.idDistrict" name="district"
                      #district="ngModel">
                <option [ngValue]="undefined" selected>Chọn quận</option>
                <option value="1">Quận 1</option>
                <option value="2">Quận 2</option>
              </select>
              <div *ngIf="district.invalid && (district.dirty || district.touched)" class="error">
                <p>Vui lòng chọn quận.</p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <p class="loaiphong">Loại phòng</p>
              <select class="browser-default custom-select" id="type" required
                      [(ngModel)]="postDTO.accomodationDTO.motel" name="type"
                      #type="ngModel">
                <option [ngValue]="undefined" selected>Chọn loại phòng</option>
                <option value='1'>Phòng trọ, nhà trọ</option>
                <option value='2'>Nhà nguyên căn</option>
              </select>
              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="error">
                <p>Vui lòng chọn loại phòng.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <p class="diachi">Địa chỉ</p>
              <input type="text" class="form-control" id="address" required
                     [(ngModel)]="postDTO.accomodationDTO.address" name="address" #address="ngModel"
                     placeholder="Nhập địa chỉ và kéo điểm màu đỏ tới vị trí chính xác"
                     (keyup)="updateLatLngFromAddress()">
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error">
                <p>Vui lòng nhập địa chỉ.</p>
              </div>
              <div class="map">
                <agm-map [latitude]="postDTO.accomodationDTO.xCoordinate || lat"
                         [longitude]="postDTO.accomodationDTO.yCoordinate || lng" [zoom]="zoom"
                         (mapClick)="mapClicked($event)">
                  <agm-marker *ngIf="postDTO.accomodationDTO.xCoordinate && postDTO.accomodationDTO.yCoordinate"
                              [markerDraggable]="true"
                              (dragEnd)="markerDragEnd($event)"
                              [latitude]="postDTO.accomodationDTO.xCoordinate"
                              [longitude]="postDTO.accomodationDTO.yCoordinate"></agm-marker>
                </agm-map>
              </div>
            </div>
          </div>
        </div>
        <p class="basic-text">THÔNG TIN BỔ SUNG</p>
        <div class="thongtinbosung">
          <div class="row">
            <div [ngClass]="{'offBorder': innerWidth<992}" class="col-lg-6 col-sm-12 border-right">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p class="tieude">Vệ sinh</p>
                  <select class="browser-default custom-select" id="toilet" required
                          [(ngModel)]="postDTO.accomodationDTO.toilet" name="toilet"
                          #toilet="ngModel">
                    <option [ngValue]="undefined" selected>Chọn..</option>
                    <option value="KHEP_KIN">Khép kín</option>
                    <option value="CHUNG">Chung</option>
                    <option value="CHUA_XAC_DINH">Chưa xác định</option>
                  </select>
                  <div *ngIf="toilet.invalid && (toilet.dirty || toilet.touched)" class="error">
                    <p>Vui lòng chọn loại nhà vệ sinh.</p>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                  <p class="giadien">Giá điện</p>
                  <input appNumberOnly class="form-control" id="electricPrice" required
                         [(ngModel)]="postDTO.accomodationDTO.electricPrice" name="electricPrice"
                         #electricPrice="ngModel"
                         placeholder="Giá điện(VNĐ/số)">
                  <div class="price">
                    <p>Mặc định "0" là giá nhà nước quy định.</p>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                  <p class="giadien">Giá nước</p>
                  <input appNumberOnly class="form-control" id="waterPrice" required
                         [(ngModel)]="postDTO.accomodationDTO.waterPrice" name="waterPrice"
                         #waterPrice="ngModel" placeholder="Giá nước(VNĐ/số)">
                  <div class="price">
                    <p>Mặc định "0" là giá nhà nước quy định.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p [ngStyle]="{'margin-top': innerWidth<992 ? '20px' : '0px'}" class="tieude">Tiện ích</p>
                  <div class="row">
                    <div class="col-lg-6 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="parking">
                        <label class="custom-control-label" for="parking">Chỗ để xe</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="internet">
                        <label class="custom-control-label" for="internet">Internet</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="airconditioner">
                        <label class="custom-control-label" for="airconditioner">Điều hòa</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cableTV">
                        <label class="custom-control-label" for="cableTV">TH Cáp</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="TV">
                        <label class="custom-control-label" for="TV">Tivi</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="heater">
                        <label class="custom-control-label" for="heater">Bình nóng lạnh</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <p class="hinhanh">Hình ảnh</p>
              <div class="input-default-wrapper">
                <input type="file" id="file-with-multi-file" class="input-default-js"
                       data-multiple-target="{target} files selected" multiple accept='image/*'
                       (change)="fileEvent($event)">
                <label class="label-for-default-js rounded-right mb-3" for="file-with-multi-file"><span
                  class="span-choose-file">Chọn 1 hoặc nhiều hình ảnh</span>
                  <div class="float-right span-browse">Browse</div>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-2" *ngFor="let url of urls">
              <img [src]="url">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <p class="tieude">Mô tả chi tiết</p>
              <angular-editor [(ngModel)]="htmlContent" name="htmlContent" [config]="config"></angular-editor>
            </div>
          </div>
        </div>
        <div class="text-center cursor">
          <button type="submit" mdbBtn class="btn btnPost" [disabled]="!postForm.form.valid" mdbWavesEffect>Đăng tin
            ngay
          </button>
        </div>
      </form>
    </div>
    <!--NgForm-->
    <div *ngIf="innerWidth>=768" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <p class="huongdan">HƯỚNG DẪN</p>
      <div class="huongdandangtin">
        <ul>
          <li><strong>Nội dung phải viết bằng tiếng Việt có dấu</strong></li>
          <li><strong>Tiêu đề tin không dài quá 100 kí tự</strong></li>
          <li>Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
          <li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ
            bằng cách kéo icon tới đúng vị trí của tin rao.
          </li>
          <li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để
            được giao dịch nhanh chóng!
          </li>
        </ul>
      </div>
    </div>
    <!--Test-->
    <!--<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">-->
    <!--<p class="basic-text">THÔNG TIN BỔ SUNG</p>-->
    <!--<div class="thongtinbosung">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-6 col-sm-12 border-right">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-sm-12">-->
    <!--<p class="tieude">Vệ sinh</p>-->
    <!--<select class="browser-default custom-select">-->
    <!--<option selected>Chọn..</option>-->
    <!--<option value="KHEP_KIN">Khép kín</option>-->
    <!--<option value="CHUNG">Chung</option>-->
    <!--<option value="CHUA_XAC_DINH">Chưa xác định</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-sm-12">-->
    <!--<p class="giadien">Giá điện</p>-->
    <!--<input appNumberOnly class="form-control" placeholder="Giá điện(VNĐ/số)">-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-sm-12">-->
    <!--<p class="giadien">Giá nước</p>-->
    <!--<input appNumberOnly class="form-control" placeholder="Giá nước(VNĐ/số)">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-12">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-sm-12">-->
    <!--<p class="tieude">Tiện ích</p>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-6 col-sm-6">-->
    <!--<div class="custom-control custom-checkbox">-->
    <!--<input type="checkbox" class="custom-control-input" id="parking">-->
    <!--<label class="custom-control-label" for="parking">Chỗ để xe</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
    <!--<div class="custom-control custom-checkbox">-->
    <!--<input type="checkbox" class="custom-control-input" id="internet">-->
    <!--<label class="custom-control-label" for="internet">Internet</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
    <!--<div class="custom-control custom-checkbox">-->
    <!--<input type="checkbox" class="custom-control-input" id="airconditioner">-->
    <!--<label class="custom-control-label" for="airconditioner">Điều hòa</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
    <!--<div class="custom-control custom-checkbox">-->
    <!--<input type="checkbox" class="custom-control-input" id="cableTV">-->
    <!--<label class="custom-control-label" for="cableTV">TH Cáp</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
    <!--<div class="custom-control custom-checkbox">-->
    <!--<input type="checkbox" class="custom-control-input" id="TV">-->
    <!--<label class="custom-control-label" for="TV">Tivi</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
    <!--<div class="custom-control custom-checkbox">-->
    <!--<input type="checkbox" class="custom-control-input" id="heater">-->
    <!--<label class="custom-control-label" for="heater">Bình nóng lạnh</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-sm-12">-->
    <!--<p class="hinhanh">Hình ảnh</p>-->
    <!--<div class="input-default-wrapper">-->
    <!--<input type="file" id="file-with-multi-file" class="input-default-js"-->
    <!--data-multiple-target="{target} files selected" multiple accept='image/*'-->
    <!--(change)="fileEvent($event)">-->
    <!--<label class="label-for-default-js rounded-right mb-3" for="file-with-multi-file"><span-->
    <!--class="span-choose-file">Chọn 1 hoặc nhiều hình ảnh</span>-->
    <!--<div class="float-right span-browse">Browse</div>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-2" *ngFor="let url of urls">-->
    <!--<img [src]="url">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-sm-12">-->
    <!--<p class="tieude">Mô tả chi tiết</p>-->
    <!--<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">-->
    <!--<div class="text-center">-->
    <!--<button type="button" mdbBtn class="btn btnPost" mdbWavesEffect>Đăng tin ngay</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--Test-->
  </div>
</div>
<div class="space"></div>
<app-footer></app-footer>
