<app-nav-bar></app-nav-bar>

<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row" id="search">
        <div class="col-lg-1"></div>
        <div class="col-lg-2 icon-search">
          <i class="fas fa-search"></i>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-12">
              <p id="solution">Giải pháp tìm kiếm mới</p>
            </div>
            <div class="col-lg-12">
              <p id="solution-detail">Tiết kiếm thời gian cho bạn với giải pháp và công nghệ mới</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row" id="time">
        <div class="col-lg-1"></div>
        <div class="col-lg-2 icon-time">
          <i class="fas fa-search"></i>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-12">
              <p id="safe-fast">Giải pháp tìm kiếm mới</p>
            </div>
            <div class="col-lg-12">
              <p id="safe-fast-detail">Tiết kiếm thời gian cho bạn với giải pháp và công nghệ mới</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
