.background {
  padding-top: 40px;
}

.space {
  margin-top: 10px;
}

.text-center h1 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.space {
  margin-top: 10px;
}

#search {
  background: #374B5F;
  padding-top: 10px
}

.icon-search {
  border-radius: 50%;
  border: white 1px solid;
  font-size: 40px;
  background: #374B5F;
  color: white;
  height: 65px;
  max-width: 70px;
  margin-top: 20px
}

#solution {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#solution-detail {
  font-size: 19px;
  color: white;
}

#time {
  background: #64BA71;
  padding-top: 10px;
}

.icon-time {
  border-radius: 50%;
  border: white 1px solid;
  font-size: 40px;
  background: #64BA71;
  color: white;
  height: 65px;
  max-width: 70px;
  margin-top: 20px;
  padding-top: 2px;
  padding-left: 19px;
}

#safe-fast {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#safe-fast-detail {
  font-size: 19px;
  color: white;
}

div#search {
  margin-right: 0px;
  margin-left: 0px;
  //box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

div#time {
  margin-right: 0px;
  margin-left: 0px;
  //box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

#news {
  font-size: 30px;
  font-weight: bold;
  color: #2E3339;
  margin-bottom: -20px;
}

p.house {
  font-size: 15px;
  margin-bottom: 4px;
}

.card {
  height: 100%;
}

.margin-bot {
  margin-bottom: 15px;
}

p.card-text {
  margin-bottom: 4px;
}

.card-text:last-child {
  margin-bottom: 4px !important;
}

.card-body {
  padding: 0.5rem 1.25rem;
}

.title {
  font-weight: 700!important;
}

.title:hover {
  color: red;
  transition: all 0.2s ease-in-out;
}
