<app-nav-bar></app-nav-bar>
<div class="space"></div>
<app-search></app-search>
<div class="space"></div>
<div class="container">
  <div class="text-center">
    <p id="news">Tin mới đăng</p>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Card -->
    <div class="col-lg-4 col-md-6 margin-bot" *ngFor="let postDTO of postDTOs">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="{{postDTO.imageStrings[0] || '../../assets/default-img.jpg'}}" width="350px" height="232.9px"
               alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight" routerLink="/bai-viet/{{postDTO.id}}"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <a routerLink="/bai-viet/{{postDTO.id}}">
            <h6 class="card-title font-weight-bold">{{postDTO.title}}</h6>
          </a>
          <div class=" d-flex justify-content-between">
            <a *ngIf="!postDTO.accomodationDTO.motel; else motel" class="light-blue-text" routerLink="/nha-nguyen-can">
              <p class="font-weight-bold house" ><i></i> Nhà nguyên căn</p>
            </a>
            <ng-template #motel>
              <a class="pink-text" routerLink="/phong-tro">
                <p class="font-weight-bold house"><i></i> Phòng trọ</p>
              </a>
            </ng-template>
            <p class="font-weight-bold dark-grey-text house">{{postDTO.accomodationDTO.price | number}} VNĐ/tháng</p>
          </div>
          <!-- Text -->
          <p class="card-text">Diện tích: {{postDTO.accomodationDTO.acreage}} m²</p>
          <p class="card-text">Địa chỉ: {{postDTO.accomodationDTO.address}}</p>
          <!--<div [innerHTML]="postDTO.content | truncate:[80, '...']"></div>-->
          <!--<p class="card-text" [innerHTML]="postDTO.content | truncate:[100, '...']"></p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer *ngIf="postDTOs"></app-footer>
