.close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -15px;
  margin-right: -5px;
}

.welcome {
  font-size: 25px;
  font-weight: 400;
}

.searchform {
  font-weight: 400;
  padding: 10px 0;
}

#priceTo2, #acreageTo2 {
  padding: 0;
}

.search-detail-district, .search-detail-type, .search-detail-price {
  border-right: #2E3339 1px solid;
  padding: 5px 30px;
}

.search-detail-acreage {
  padding: 5px 30px;
}

.searchform h6 {
  font-weight: bold;
}

.form-control {
  padding-left: 5px;
  padding-right: 5px;
}

input.form-control {
  font-size: 14px;
}

.input-group-text {
  font-size: 14px;
}

input.radius, #radius {
  font-size: 1rem;
}

agm-map {
  height: 300px;
}

.btnSearch {
  background: #009BF9;
  font-weight: 600;
  font-size: 15px;
  border: none !important;
}


.ng5-slider {
  margin-top: 10px !important;
  background-color: black !important;
}

.offBorder {
  border-right: none;
}
