<div class="row" style="padding-left: 8px; padding-right: 8px;">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <button type="button" class="close" (click)="close()">&times;</button>
    <!--<div class="text-center">-->
      <p class="welcome">Tìm kiếm xung quanh</p>
    <!--</div>-->
  </div>
</div>
<div class="row searchform">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 search-detail-district"
       [ngClass]="{'offBorder': innerWidth<576}">
    <h6>Nhập bán kính</h6>
    <div class="input-group mb-3 my-3">
      <!--<input type="number" step="{{priceOptions.step}}" [(ngModel)]="minValue"-->
      <input appNumberOnly type="text" class="form-control radius" aria-describedby="radius"
             [(ngModel)]="searchForm1.radius">
      <div class="input-group-append">
        <span class="input-group-text" id="radius">km</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 search-detail-type"
       [ngClass]="{'offBorder': innerWidth<1200}">
    <h6>Chọn loại phòng</h6>
    <!-- Default inline 1-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline3" [value]="1"
             [(ngModel)]="searchForm1.motel" mdbInput>
      <label class="custom-control-label" for="defaultInline3">Phòng trọ, nhà trọ</label>
    </div>
    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline4" [value]="2"
             [(ngModel)]="searchForm1.motel" mdbInput>
      <label class="custom-control-label" for="defaultInline4">Nhà nguyên căn</label>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 search-detail-price"
       [ngClass]="{'offBorder': innerWidth<576}">
    <h6>Chọn khoảng giá</h6>
    <ng5-slider id="myDiv" [(value)]="searchForm1.priceStart" [(highValue)]="searchForm1.priceEnd"
                [options]="priceOptions1"></ng5-slider>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
        <div class="row">
          <div class="input-group mb-3 my-3">
            <input appNumberOnly type="text" class="form-control" aria-describedby="priceMin2"
                   [(ngModel)]="searchForm1.priceStart">
            <div class="input-group-append">
              <span class="input-group-text" id="priceMin2">triệu</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 my-3" id="priceTo2">
        <div class="text-center">_</div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
        <div class="row">
          <div class="input-group mb-3 my-3">
            <input appNumberOnly type="text" class="form-control" aria-describedby="priceMax2"
                   [(ngModel)]="searchForm1.priceEnd">
            <div class="input-group-append">
              <span class="input-group-text" id="priceMax2">triệu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 search-detail-acreage">
    <h6>Chọn diện tích</h6>
    <ng5-slider [(value)]="searchForm1.acreageStart" [(highValue)]="searchForm1.acreageEnd"
                [options]="acreageOptions1"></ng5-slider>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
        <div class="row">
          <div class="input-group mb-3 my-3">
            <input appNumberOnly type="text" class="form-control" aria-describedby="acreageMin2"
                   [(ngModel)]="searchForm1.acreageStart">
            <div class="input-group-append">
              <span class="input-group-text" id="acreageMin2">m²</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 my-3" id="acreageTo2">
        <div class="text-center">_</div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
        <div class="row">
          <div class="input-group mb-3 my-3">
            <input appNumberOnly type="text" class="form-control" aria-describedby="acreageMax2"
                   [(ngModel)]="searchForm1.acreageEnd">
            <div class="input-group-append">
              <span class="input-group-text" id="acreageMax2">m²</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 search-detail-district"
     [ngClass]="{'offBorder': innerWidth>0}">
  <div class="row">
    <h6 id="address">Nhập địa chỉ</h6>
    <div class="input-group mb-3 my-3">
      <input type="text" class="form-control radius" aria-describedby="radius"
             [(ngModel)]="address" (ngModelChange)="updateLatLngFromAddress()" required="true" placeholder="Nhập địa chỉ hoặc chọn 1 điểm trên bản đồ" go>
      <!--<label for="address-content" ></label>-->
    </div>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
  <agm-marker [markerDraggable]="true" [(latitude)]="searchForm1.xCoordinate || lat"
              [(longitude)]="searchForm1.yCoordinate || lng" (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="text-center">
    <button type="button" class="btn btnSearch" (click)="navigateToSearchPage1()"
            mdbWavesEffect>Tìm kiếm
    </button>
    <button type="button" class="btn btn-danger btnSearch" mdbWavesEffect (click)="close()">Đóng
    </button>
  </div>
</div>
