.welcome {
  font-size: 25px;
  font-weight: 400;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -15px;
  margin-right: -5px;
}

.username, .pass, .display_name, .phone, .address, .email {
  margin-bottom: 3px;
  font-weight: 500;
  margin-top: 5px;
}

.form-control {
  height: 40px;
  margin-bottom: 10px;
}

#form-password {
  margin-bottom: 0px !important;
}

.modal-content {
  overflow: hidden;
}

.footer-modal {
  margin-bottom: 16px;
}

button {
  margin-top: 5px;
  background: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: #003352;
  font-weight: bold;
}

.btnLogin, .btnRegister {
  background: #0db9f0;
  border: none;
  color: white;
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
}

.error {
  color: #dc3545;
  font-weight: 400;
}

.forgot, .already {
  color: #0db9f0 !important;
  font-weight: 400;
  padding: 0 !important;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.forgot:hover, .already:hover {
  text-decoration: underline !important;
}

.forgot:focus, .already:focus {
  outline: none;
}

#register {
  color: #0db9f0 !important;
  font-weight: 400;
  padding: 0 !important;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#register:hover {
  text-decoration: underline !important;
}

#register:focus {
  outline: none;
}

.register {
  font-size: 15px;
  margin-bottom: 0;
}

.already {
  margin-top: 3px
}

.address input[type=text] {
  padding-right: 25px;
}

.inputRemove {
  display: inline-block;
  margin-left: -25px;
  margin-right: -25px;
  cursor: pointer;
}

.inputRemove:hover {
  color: #0db9f0;
}

#password {
  display: inline !important;
}

.is-invalid {
  background-image: none;
}

.login {
  font-size: 20px;
  color: #0db9f0;
}

.login:hover {
  text-decoration: underline !important;
}

button:disabled,
button[disabled] {
  border: 1px solid #0db9f0;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: all !important;
  opacity: 0.65;
}

button:disabled:hover {
  background: #0db9f0;
  color: white;
}

.btnRegister:focus {
  outline: none;
}
