<app-title-page></app-title-page>
<div class="default-card">
  <nz-skeleton [nzLoading]="loading" nzActive="true" [nzParagraph]="{ rows: 6}">
    <div nz-row *ngIf="canChangeRole">
      <div nz-col [nzLg]="8" [nzMd]="24">
        <h2>Thay đổi loại tài khoản</h2>
        <p><i>Địa chỉ email và ID không thể thay đổi</i></p>
      </div>
      <div nz-col [nzLg]="16" [nzMd]="24">
        <div nz-form nzLayout="vertical">
          <div class="d-flex">
            <nz-form-item class="flex-fill">
              <nz-form-label>Địa chỉ email - <strong>tài khoản</strong></nz-form-label>
              <nz-form-control>
                <input nz-input readonly [value]="user.email"/>
              </nz-form-control>
            </nz-form-item>
            <div class="ml-2">
              <nz-form-item>
                <nz-form-label>ID</nz-form-label>
                <nz-form-control>
                  <input nz-input readonly [value]="user.id"/>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <nz-form-item>
            <nz-form-label>Loại tài khoản</nz-form-label>
            <nz-radio-group [(ngModel)]="role" name="role">
              <label nz-radio nzValue="ROLE_USER">Khách hàng</label>
              <label nz-radio nzValue="ROLE_MODERATOR">Kiểm duyệt viên</label>
              <label nz-radio nzValue="ROLE_ADMIN">Quản trị viên</label>
            </nz-radio-group>
          </nz-form-item>

          <div nz-row nzType="flex" nzJustify="space-between">
            <button nz-col nz-button nzType="primary" (click)="saveChangeRole()" [disabled]="role == preRole">
              Lưu thay đổi
            </button>
            <button nz-col nz-button nzType="default" routerLink="/users/{{ user.id }}/detail">Hủy</button>
          </div>
        </div>
      </div>
    </div>
  </nz-skeleton>

  <nz-divider *ngIf="canChangeRole"></nz-divider>

  <div nz-row style="padding-bottom: 100px">
    <div nz-col [nzLg]="8" [nzMd]="24">
      <h2 class="require-title">Thay đổi mật khẩu</h2>
    </div>
    <div nz-col [nzLg]="16" [nzMd]="24">
      <form #form="ngForm" nz-form nzLayout="vertical">

        <nz-form-item>
          <nz-form-label>Mật khẩu mới</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixPassword">
              <input nz-input #newPass="ngModel" name="newPassword" [(ngModel)]="newPassword"
                     (focus)="noMatchPassword = false" required
                     [type]="passwordVisible ? 'text' : 'password'"/>
            </nz-input-group>

            <ng-template #suffixPassword>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                 (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>

            <ng-container *ngIf="newPass.invalid && newPass.touched">
              <nz-form-explain *ngIf="newPass.errors?.required" class="invalid-msg">
                Mật khẩu không được trống
              </nz-form-explain>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Xác nhận mật khẩu</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixCfPassword">
              <input nz-input #confirmPass="ngModel" name="confirmPassword"
                     (focusout)="noMatchPassword = (confirmPassword != newPassword)"
                     (focus)="noMatchPassword = false"
                     [(ngModel)]="confirmPassword" required
                     [type]="cfPasswordVisible ? 'text' : 'password'"/>
              <ng-template #suffixCfPassword>
                <i nz-icon [nzType]="cfPasswordVisible ? 'eye-invisible' : 'eye'"
                   (click)="cfPasswordVisible  = !cfPasswordVisible "></i>
              </ng-template>
            </nz-input-group>
            <ng-container *ngIf="confirmPass.invalid && confirmPass.touched">
              <nz-form-explain *ngIf="confirmPass.errors?.required" class="invalid-msg">
                Mật khẩu không được trống
              </nz-form-explain>
            </ng-container>

            <ng-container *ngIf="noMatchPassword && confirmPassword.length > 0">
              <nz-form-explain class="invalid-msg">
                Mật khẩu xác nhận không khớp với mật khẩu mới
              </nz-form-explain>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <div nz-row nzType="flex" nzJustify="space-between">
          <button nz-col nz-button nzType="primary" (click)="saveChange()"
                  [disabled]="!form.valid || newPassword != confirmPassword">Lưu thay đổi
          </button>
          <button nz-col nz-button nzType="default" routerLink="/users/{{ user.id }}/detail">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
