.space {
  margin-top: 10px;
}

.bc {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.post-summary {
}

.post-summary p {
  margin-bottom: 0px;
  font-size: 14px;
}

.padding {
  padding-left: 13px;
}

#diachi, #dientich, #giatien, #toilet, #status, #giadien, #gianuoc, #capnhat, #motel, #tienich {
  padding: 8px;
  font-weight: 700;
}

.background-color {
  border-bottom: 1px solid white;
  background: #ecf0f1;
}

.content {
  border: 1px solid #ecf0f1;
  border-bottom: 1px solid white;
  border-left: none;
  //padding: 8px;
  //font-weight: 400;
}


#chitietdiachi, #chitietdientich, #chitietgiatien, #chitiettoilet, #chitietstatus, #chitietgiadien, #chitietgianuoc, #chitietcapnhat, #chitietmotel, #chitiettienich {
  padding: 8px;
  font-weight: 400;
}

.tienich {
  border: 1px solid #ECF0F1;
  background: #ECF0F1;
}

.tienich-content {
  border: 1px solid #ECF0F1;
}

