<app-nav-bar></app-nav-bar>
<div class="space"></div>
<div class="container">
  <div class="col-lg-12 bc" *ngIf="postDTO">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Trang chủ</a></li>
        <li class="breadcrumb-item" *ngIf="postDTO.accomodationDTO.motel"><a routerLink="/motel">Phòng trọ</a></li>
        <li class="breadcrumb-item" *ngIf="!postDTO.accomodationDTO.motel"><a routerLink="/house">Nhà nguyên
          căn</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="container" *ngIf="postDTO.id">
  <h3 id="tenbaiviet">{{postDTO.title}}</h3>
</div>
<div class="container" *ngIf="postDTO.id">
  <div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="post-summary">
        <!--Địa chỉ-->
        <div class="row padding">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-4 background-color">
            <p id="diachi">Địa chỉ</p>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-8 content">
            <p id="chitietdiachi">{{postDTO.accomodationDTO.address}}</p>
          </div>
        </div>
        <!--Địa chỉ-->
        <!--Diện tích, Giá thuê-->
        <div class="row padding">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="dientich">Diện tích</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p id="chitietdientich">{{postDTO.accomodationDTO.acreage}} m²</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="giatien">Giá thuê</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p id="chitietgiatien">{{postDTO.accomodationDTO.price | number}} VNĐ/tháng</p>
              </div>
            </div>
          </div>
        </div>
        <!--Diện tích, Giá thuê-->
        <!--Toilet, Status-->
        <div class="row padding">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="toilet">Vệ sinh</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p id="chitiettoilet" *ngIf="postDTO.accomodationDTO.toilet === ToiletName.KHEP_KIN">Khép kín</p>
                <p id="chitiettoilet1" *ngIf="postDTO.accomodationDTO.toilet === ToiletName.CHUNG">Chung</p>
                <p id="chitiettoilet2" *ngIf="postDTO.accomodationDTO.toilet === ToiletName.CHUA_XAC_DINH">Chưa xác
                  định</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="status">Tình trạng</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p *ngIf="postDTO.accomodationDTO.status" id="chitietstatus">Còn</p>
                <p *ngIf="!postDTO.accomodationDTO.status" id="chitietstatus2">Hết</p>
              </div>
            </div>
          </div>
        </div>
        <!--Toilet, Status-->
        <!--Giá điện, giá nước-->
        <div class="row padding">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="giadien">Giá điện</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p *ngIf="postDTO.accomodationDTO.electricPrice != 0"
                   id="chitietgiadien">{{postDTO.accomodationDTO.electricPrice}} VNĐ/số</p>
                <p *ngIf="postDTO.accomodationDTO.electricPrice == 0" id="chitietgiadien2">Nhà nước quy định</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="gianuoc">Giá nước</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p *ngIf="postDTO.accomodationDTO.waterPrice != 0"
                   id="chitietgianuoc">{{postDTO.accomodationDTO.waterPrice}} VNĐ/số</p>
                <p *ngIf="postDTO.accomodationDTO.waterPrice == 0" id="chitietgianuoc2">Nhà nước quy định</p>
              </div>
            </div>
          </div>
        </div>
        <!--Giá điện, giá nước-->
        <!--Cập nhật, Motel-->
        <div class="row padding">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="capnhat">Cập nhật</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p id="chitietcapnhat">{{postDTO.lastUpdate | date: 'dd/MM/yyy'}}</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-4 background-color">
                <p id="motel">Loại phòng</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-8 content">
                <p *ngIf="postDTO.accomodationDTO.motel" id="chitietmotel">Phòng trọ, nhà trọ</p>
                <p *ngIf="!postDTO.accomodationDTO.motel" id="chitietmotel2">Nhà nguyên căn</p>
              </div>
            </div>
          </div>
        </div>
        <!--Cập nhật, motel-->
        <!--Tiện ích-->
        <div class="row padding">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-4 tienich">
            <p id="tienich">Tiện ích</p>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-8 tienich-content">
            <p id="chitiettienich">{{util}}</p>
          </div>
        </div>
        <!--Địa chỉ-->
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="thongtinlienlac">
        <h4 id="thongtinlienlac">Thông tin liên lạc</h4>
        <a><i class="fas fa-user"></i><span id="hoten"> Đoàn Huỳnh Thiện</span></a>
        <p id="address"><i class="fas fa-map-marker-alt"></i> 97 đường số 6 khu phố 4 phường Tam Phú quận Thủ Đức
        </p>
        <p id="sdt"><i class="fas fa-mobile-alt"></i> 0784553008</p>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="postDTO.id">
  <div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="hinhanh">
            <h4 id="hinhanh">Hình ảnh</h4>
          </div>
          <div class="chitiethinhanh" *ngIf="postDTO.imageStrings">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item *ngFor="let imageString of postDTO.imageStrings">
                <div class="view w-100">
                  <img class="d-block w-100" src={{imageString}} height="500px" alt="First slide">
                  <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="thongtinchitiet">
            <h4 id="thongtinchitiet">Thông tin chi tiết</h4>
          </div>
          <div class="thongtinchitiet-content" [innerHTML]="postDTO.content">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="map">
            <h4 id="map">Bản đồ</h4>
          </div>
          <div class="chitietmap">
            <agm-map [latitude]="postDTO.accomodationDTO.xCoordinate"
                     [longitude]="postDTO.accomodationDTO.yCoordinate"
                     [zoom]=zoom
                     [disableDefaultUI]="false"
                     [zoomControl]="false">
              <agm-marker [latitude]="postDTO.accomodationDTO.xCoordinate"
                          [longitude]="postDTO.accomodationDTO.yCoordinate"></agm-marker>
              <!--<agm-circle [latitude]="postDTO.accomodationDTO.xCoordinate"-->
              <!--[longitude]="postDTO.accomodationDTO.yCoordinate"-->
              <!--[radius]="300"-->
              <!--[fillColor]="'red'"-->
              <!--[fillOpacity]=0.2>-->
              <!--</agm-circle>-->
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="postDTO.id && commentDTOs">
  <div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="binhluan">
            <h4 id="binhluan">Bình luận</h4>
          </div>
          <!--<div class="khung-binhluan">-->
          <!--</div>-->
          <div class="binhluan-content">
            <!--Nếu đăng nhập-->
            <textarea class="form-control" id="comment" cols="85" rows="5"
                      placeholder="Vui lòng nhập nội dung bình luận" [(ngModel)]="commentDTO.content"></textarea>
            <div class="text-right">
              <button type="button" class="btnPost" mdbWavesEffect>Gửi</button>
            </div>
            <!--Nếu đăng nhập-->
            <div class="text-content"
                 *ngFor="let commentDTO of commentDTOs | paginate: { id: 'server', itemsPerPage: 10, currentPage: page, totalItems: totalElements }">
              <a><p class="ten">{{commentDTO.fullName}}</p></a>
              <p class="noidung">{{commentDTO.content}}</p>
              <p class="gio">{{commentDTO.lastUpdate | date:'d/M/yyyy, h:mm a'}}</p>
            </div>
            <!--Phân trang-->
            <div class="text-center">
              <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
            <!--Phân trang-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer *ngIf="postDTO.id && commentDTOs"></app-footer>
