.space {
  margin-top: 10px;
}

#username {
  font-weight: 400;
}

#thongtin {
  font-weight: 600;
}

p.thongtin {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #374B5F;
  color: white;
  padding: 10px 10px;
  margin-bottom: 0px;
}

.thongtin-content {
  padding-top: 10px;
  border: 1px solid #cccccc;
}

.thongtin-chitiet {
  padding: 10px;
}

.attribute {
  font-size: 18px;
  font-weight: 400;
}

.overlay {
  padding-bottom: 10px;
}

.attribute-content {
  font-size: 17px;
  font-weight: 400;
}

.border-thongtin {
  border: 1px solid #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

a.title:hover {
  color: red;
}

.giatien {
  font-size: 17px;
  font-weight: 400;
  color: red;
  margin-bottom: 5px;
}

.ngay {
  font-size: 17px;
  font-weight: 400;
}

.img-1 {
  width: 150px;
  height: 150px;
}

.img-2 {
  width: 120px;
  height: 120px;
}

.img-3 {
  width: 140px;
  height: 140px;
}
.img-4 {
  width: 100px;
  height: 100px;
}

.bor {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
