<!--Navbar-->
<div class="container-fluid nav-color">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="true">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/trang-chu">
      <i class="fas fa-map-marker-alt icon-marker"></i>
      XómTrọHCM</a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" routerLink="/trang-chu" mdbWavesEffect>Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/phong-tro" mdbWavesEffect>Phòng trọ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/nha-nguyen-can" mdbWavesEffect>Nhà nguyên căn</a>
        </li>
      </ul>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" color="default" mdbWavesEffect><i class="far fa-edit"></i>Đăng tin mới</button>
        </li>
        <div *ngIf="isLoggedIn; else notLoggedIn">
          <li class="nav-item">
            <p>Xin chào </p>
          </li>
        </div>
        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="showSignup=true">Đăng ký</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="showModal=true">Đăng nhập</a>
          </li>
        </ng-template>
      </ul>
    </links>
  </mdb-navbar>
  <!--/.Navbar-->
</div>

<div class="modal fade" (click)="ClickedOut($event)" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     [ngClass]="{'show': showModal}" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Đăng nhập</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="username">Tài khoản: </p>
        <input type="email" id="signIn-username" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signIn-username"></label>

        <p class="pass">Mật khẩu: </p>
        <input type="password" id="signIn-pass" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signIn-pass"></label>

      </div>
      <div class="d-flex justify-content-center footer-modal">
        <button class="btn btnLogin" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" (click)="ClickedOut($event)" id="modalSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     [ngClass]="{'show': showSignup}" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Đăng ký</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showSignup=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="username">Tài khoản: </p>
        <input type="text" id="signUp-username" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signUp-username"></label>

        <p class="pass">Mật khẩu: </p>
        <input type="password" id="signUp-pass" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signUp-pass"></label>

        <p class="display_name">Tên hiển thị: </p>
        <input type="text" id="signUp-displayname" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signUp-displayname"></label>

        <p class="address">Địa chỉ: </p>
        <input type="text" id="signUp-address" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signUp-address"></label>

        <p class="phone">Số điện thoại: </p>
        <input type="text" id="signUp-phone" class="form-control validate">
        <label data-error="wrong" data-success="right" for="signUp-phone"></label>

      </div>
      <div class="d-flex justify-content-center footer-modal">
        <button class="btn btnLogin" mdbWavesEffect>Đăng ký</button>
      </div>
    </div>
  </div>
</div>
