.navbar-brand {
  font-weight: bold;
  color: white;
}


.nav-color {
  background: #2E3339 !important;
}

button{
  margin-top: 5px;
  background: white;
  border: white 1px solid;
  border-radius: 5px;
  color: #003352;
  font-weight: bold;
}
