<!--Navbar-->
<div class="container-fluid nav-color">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="true">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/trang-chu">
      <i class="fas fa-map-marker-alt icon-marker"></i>
      XómTrọHCM</a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" routerLink="/trang-chu" mdbWavesEffect>Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/phong-tro" mdbWavesEffect>Phòng trọ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/nha-nguyen-can" mdbWavesEffect>Nhà nguyên căn</a>
        </li>
      </ul>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" color="default" mdbWavesEffect (click)="navigateToCreatePost()"><i
            class="far fa-edit"></i>Đăng tin mới
          </button>
        </li>
        <div *ngIf="isLoggedIn; else notLoggedIn">
          <li class="nav-item">
            <p>Xin chào </p>
          </li>
        </div>
        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="showSignup=true">Đăng ký</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="showModal=true">Đăng nhập</a>
          </li>
        </ng-template>
      </ul>
    </links>
  </mdb-navbar>
  <!--/.Navbar-->
</div>

<div class="modal fade" (click)="ClickedOut($event)" id="modalLoginForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     [ngClass]="{'show': showModal}" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Đăng nhập</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form (ngSubmit)="signIn.form.valid && onSubmit()" #signIn="ngForm">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
              <p class="username">Tài khoản: </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-8">
              <input input="text" class="form-control" id="userNameSignIn" required
                     [(ngModel)]="signInForm.username" name="userNameSignIn" #userNameSignIn="ngModel"
                     [ngClass]="{ 'is-invalid': (userNameSignIn.invalid && (userNameSignIn.dirty || userNameSignIn.touched)) || (signIn.submitted && userNameSignIn.invalid)}">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
              <p class="pass">Mật khẩu: </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-8">
              <input type="password" class="form-control" id="passwordSignIn" required
                     [(ngModel)]="signInForm.username" name="passwordSignIn" #passwordSignIn="ngModel"
                     [ngClass]="{ 'is-invalid': (passwordSignIn.invalid && (passwordSignIn.dirty || passwordSignIn.touched)) || (signIn.submitted && passwordSignIn.invalid)}">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btnLogin" mdbWavesEffect>Đăng nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" (click)="ClickedOut($event)" id="modalSignupForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     [ngClass]="{'show': showSignup}" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Đăng ký</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showSignup=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form (ngSubmit)="signUp.form.valid && onSubmit()" #signUp="ngForm">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <p class="batbuoc"><span style="color: red">*</span> Thông tin bắt buộc nhập</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <p class="username">Tài khoản: (<span style="color: red">*</span>)</p>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
              <input type="text" class="form-control" id="username" required
                     [(ngModel)]="signUpForm.username" name="username" #username="ngModel"
                     [ngClass]="{ 'is-invalid': (username.invalid && (username.dirty || username.touched)) || (signUp.submitted && username.invalid)}">
              <!--<div *ngIf="(username.invalid && (username.dirty || username.touched)) || (signUp.submitted && username.invalid)"-->
              <!--class="error">-->
              <!--<p>Vui lòng nhập tài khoản.</p>-->
              <!--</div>-->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <p class="pass">Mật khẩu: (<span style="color: red">*</span>)</p>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
              <input type="password" class="form-control" id="password" required
                     [(ngModel)]="signUpForm.username" name="password" #password="ngModel"
                     [ngClass]="{ 'is-invalid': (password.invalid && (password.dirty || password.touched)) || (signUp.submitted && password.invalid)}">
              <!--<div *ngIf="(password.invalid && (password.dirty || password.touched)) || (signUp.submitted && password.invalid)"-->
              <!--class="error">-->
              <!--<p>Vui lòng nhập mật khẩu.</p>-->
              <!--</div>-->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <p class="address">Địa chỉ: </p>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
              <input type="text" class="form-control validate">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <p class="phone">Điện thoại: </p>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
              <input type="text" class="form-control validate">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btnLogin" mdbWavesEffect>Đăng ký</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
