<app-nav-bar></app-nav-bar>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 bc">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/trang-chu">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">Phòng trọ</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<app-search></app-search>
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      aa
    </div>
  </div>
</div>
<app-footer></app-footer>
